/* Genel ayarlar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0c3867;
  font-family: Arial, sans-serif;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #0c3867;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Welcome screen */
.welcome-container {
  padding: 20px;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-container h1 {
  color: #3496ff;
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome-container p {
  font-size: 16px;
  color: #3496ff;
  margin-bottom: 20px;
}

/* Buttons */
button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px 0; /* Butonlar arasında boşluk */
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  box-shadow: 0px 2px 4px rgba(0, 123, 255, 0.3);
}


/* Content (Companies ve Employees) */
.content {
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*Adding companies or employes areas*/
.manager-div {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px;
}

.company-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.company-form label {
  color: #badcf5;
  margin-top: 10px;
}

.company-form input {
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.company-section {
  position: relative;
}

.company-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.employee-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.employee-form label {
  color: #badcf5;
  margin-top: 10px;
}

.employee-form input {
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.employee-form select {
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.header-icons {
  display: flex;
  gap: 8px; /* Adds space between icons */
}

.info-icon,
.edit-icon,
.delete-icon {
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
  cursor: pointer;
}

.info-icon:hover {
  color: #0056b3; /* Darker blue for hover */
}

.edit-icon:hover {
  color: #7c5f06;
}

.delete-icon:hover {
  color: #b02a37;
}

.employee-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.employee-details {
  flex-grow: 1;
}

.employee-icons {
  display: flex;
  gap: 8px; /* Adds space between icons */
}

.info-icon,
.delete-icon {
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Modal */
.modal-content {
  background-color: #a6d6ff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  position: relative;
  font-family: Arial, sans-serif;
  color: #333;
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.modal-details p {
  margin: 8px 0;
  line-height: 1.5;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 15px 0;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #888;
  transition: color 0.3s;
}

.close-button:hover {
  color: #555;
}
/*Modal*/


.edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease;
  z-index: 1000;
  overflow: hidden; /* Prevents body overflow */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.edit-modal-content {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  position: relative;
  font-family: Arial, sans-serif;
  color: #333;
  animation: slideIn 0.3s ease;
  max-height: 80vh; /* Constrains modal height */
  overflow-y: auto; /* Enables vertical scrolling */

}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.edit-close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  color: #888;
  cursor: pointer;
  transition: color 0.3s;
}

.edit-close-button:hover {
  color: #555;
}

.edit-modal-title {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

/* Selector styling for select elements */
.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s;
  appearance: none; /* Removes default arrow for a custom look */
}

.form-select:focus {
  border-color: #007bff;
  outline: none;
}

.edit-save-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.edit-save-button:hover {
  background-color: #0056b3;
}


.action-button {
  margin-top: 10px;
}

.data-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  box-sizing: border-box;
  border: 1px solid #256999;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
}

.section {
  margin-bottom: 20px;
}

/* Styles for Listing */
.list {
  margin-top: 10px;
}

.list h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.list ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.list li {
  padding: 8px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.list li:last-child {
  border-bottom: none;
}

/* Styles for Company cards */
.company-section {
  margin-top: 20px;
  text-align: left;
}

.company-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: math;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  background-color: #8ecce7;
  color: #000000;
  border-radius: 5px;
  border: 1px solid black;
}

/* Styles for Employee cards */
.employee-list {
  margin-left: 20px;
  padding: 10px;
  background-color: #5c9dc1;
  border-radius: 5px;
}

.employee-list ul {
  list-style-type: none;
  padding: 0;
}

.employee-list li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.employee-list li:last-child {
  border-bottom: none;
}
