<div class="container">
  <router-outlet></router-outlet>

  <main *ngIf="welcomeVisible" class="welcome-container">
    <button (click)="getAuth()">Uygulamaya erişin</button>
  </main>

  <div *ngIf="!welcomeVisible" class="content">
    <div class="manager-div">
      <!-- Collapsible form -->
      <div *ngIf="isCompanyFormVisible" class="company-form">
        <label for="companyName">Company Name:</label>
        <input
          type="text"
          id="companyName"
          placeholder="Örn: Kentkart"
          [(ngModel)]="companyForm.name"
        />

        <label for="address">Address:</label>
        <input
          type="text"
          id="address"
          placeholder="Örn: Tınaztepe Kampüsü"
          [(ngModel)]="companyForm.address"
        />

        <label for="phoneNumber">Phone Number:</label>
        <input
          type="text"
          id="phoneNumber"
          placeholder="Örn: 0232 123 45 67"
          [(ngModel)]="companyForm.phoneNumber"
        />

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          placeholder="Örn: kentkart@gmail.com"
          [(ngModel)]="companyForm.email"
        />

        <label for="website">Website:</label>
        <input
          type="text"
          id="website"
          placeholder="Örn: www.kentkart.com"
          [(ngModel)]="companyForm.website"
        />

        <label for="industry">Industry:</label>
        <input
          type="text"
          id="industry"
          placeholder="Örn: Ulaşım"
          [(ngModel)]="companyForm.industry"
        />

        <label for="employeeCount">Employee Count:</label>
        <input
          type="number"
          id="employeeCount"
          [(ngModel)]="companyForm.employeeCount"
        />
      </div>
      <!-- Toggle button for collapsible form -->
      <button (click)="toggleCompanyForm()" class="action-button">
        {{ isCompanyFormVisible ? "Hide Form" : "Enter Details" }}
      </button>
      <button (click)="addCompany()" class="action-button">Add Company</button>
    </div>
    <div class="data-div">
      <div *ngFor="let company of companies" class="company-section">
        <!-- <h2 (click)="toggleCompany(company.id)" class="company-header">
          {{ company.name }}
          <i
            (click)="openCompanyModal(company); $event.stopPropagation()"
            class="fas fa-info-circle info-icon"
          ></i>
        </h2> -->
        <h2 (click)="toggleCompany(company.id)" class="company-header">
          {{ company.name }}
          <span class="header-icons">
            <i
              (click)="openCompanyModal(company); $event.stopPropagation()"
              class="fas fa-info-circle info-icon"
            ></i>
            <i
              (click)="openCompanyEditModal(company); $event.stopPropagation()"
              class="fas fa-edit edit-icon"
            ></i>
            <i
              (click)="deleteCompany(company.id); $event.stopPropagation()"
              class="fas fa-trash-alt delete-icon"
            ></i>
          </span>
        </h2>

        <div
          *ngIf="
            expandedCompany === company.id &&
            getEmployeesByCompany(company.id).length
          "
          class="employee-list"
        >
          <ul>
            <li
              *ngFor="let employee of getEmployeesByCompany(company.id)"
              class="employee-item"
            >
              <span class="employee-details">
                {{ employee.name }} - {{ employee.title }} -
                {{ employee.email }}
              </span>
              <span class="employee-icons">
                <i
                  (click)="openEmployeeDetails(employee)"
                  class="fas fa-info-circle info-icon"
                ></i>
                <i
                  (click)="deleteEmployee(employee.id)"
                  class="fas fa-trash-alt delete-icon"
                ></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="manager-div">
      <div *ngIf="isEmployeeFormVisible" class="employee-form">
        <label for="employeeName">Employee Name:</label>
        <input
          type="text"
          id="employeeName"
          placeholder="Örn: Ahmet"
          [(ngModel)]="employeeForm.name"
        />

        <label for="employeeCompany">Company:</label>
        <select id="employeeCompany" [(ngModel)]="employeeForm.company_id">
          <option [ngValue]="0" disabled>Please select a company</option>
          <option *ngFor="let company of companies" [ngValue]="company.id">
            {{ company.name }}
          </option>
        </select>

        <label for="employeeTitle">Title:</label>
        <input
          type="text"
          id="employeeTitle"
          placeholder="Örn: Yazılım Mühendisi"
          [(ngModel)]="employeeForm.title"
        />

        <label for="employeePhone">Phone:</label>
        <input
          type="text"
          id="employeePhone"
          placeholder="Örn: 0532 123 45 67"
          [(ngModel)]="employeeForm.phone"
        />

        <label for="employeeEmail">Email:</label>
        <input
          type="email"
          id="employeeEmail"
          placeholder="Örn: ahmet@kenkart.com"
          [(ngModel)]="employeeForm.email"
        />

        <label for="employeeAge">Age:</label>
        <input type="number" id="employeeAge" [(ngModel)]="employeeForm.age" />

        <label for="employeeSalary">Salary:</label>
        <input
          type="number"
          id="employeeSalary"
          [(ngModel)]="employeeForm.salary"
        />

        <label for="employeeDepartment">Department:</label>
        <input
          type="text"
          id="employeeDepartment"
          [(ngModel)]="employeeForm.department"
        />

        <label for="employeePosition">Position:</label>
        <input
          type="text"
          id="employeePosition"
          [(ngModel)]="employeeForm.position"
        />

        <label for="employeeHireDate">Hire Date:</label>
        <input
          type="date"
          id="employeeHireDate"
          [(ngModel)]="employeeForm.hireDate"
        />

        <label for="employeeIsWorking">Is Working:</label>
        <input
          type="checkbox"
          id="employeeIsWorking"
          [(ngModel)]="employeeForm.isWorking"
        />
      </div>
      <!-- Toggle button for collapsible form -->
      <button (click)="toggleEmployeeForm()" class="action-button">
        {{ isEmployeeFormVisible ? "Hide Form" : "Enter Details" }}
      </button>
      <button (click)="addEmployee()" class="action-button">
        Add Employee
      </button>
      <!-- <button (click)="getEmployees()" class="action-button">Get Employees</button> -->
    </div>
  </div>
</div>

<!-- Modal structure -->
<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="closeCompanyModal()">&times;</span>
    <h3>{{ selectedCompany?.name }} Details</h3>
    <hr />
    <div class="modal-details">
      <p><strong>ID:</strong> {{ selectedCompany?.id }}</p>
      <p><strong>Address:</strong> {{ selectedCompany?.address }}</p>
      <p><strong>Phone:</strong> {{ selectedCompany?.phoneNumber }}</p>
      <p><strong>Email:</strong> {{ selectedCompany?.email }}</p>
      <p><strong>Website:</strong> {{ selectedCompany?.website }}</p>
      <p><strong>Industry:</strong> {{ selectedCompany?.industry }}</p>
      <p>
        <strong>Employee Count:</strong> {{ selectedCompany?.employeeCount }}
      </p>
    </div>
  </div>
</div>

<!-- Employee details modal -->
<div *ngIf="isEmployeeModalOpen" class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="closeEmployeeModal()">&times;</span>
    <h3>{{ selectedEmployee?.name }}</h3>
    <p><strong>Title:</strong> {{ selectedEmployee?.title }}</p>
    <p><strong>Email:</strong> {{ selectedEmployee?.email }}</p>
    <p><strong>Phone:</strong> {{ selectedEmployee?.phone }}</p>
    <p><strong>Department:</strong> {{ selectedEmployee?.department }}</p>
    <p><strong>Age:</strong> {{ selectedEmployee?.age }}</p>
    <p><strong>Salary:</strong> {{ selectedEmployee?.salary }}</p>
    <p><strong>Department:</strong> {{ selectedEmployee?.department }}</p>
    <p><strong>Position:</strong> {{ selectedEmployee?.position }}</p>
    <p><strong>Hire Date:</strong> {{ selectedEmployee?.hireDate }}</p>
    <p><strong>Working Status:</strong> {{ selectedEmployee?.isWorking }}</p>
    <!-- Add other details as needed -->
  </div>
</div>

<!-- Edit modal -->
<div *ngIf="isCompanyEditModalOpen" class="edit-modal">
  <div class="edit-modal-content">
    <span class="edit-close-button" (click)="closeCompanyEditModal()">&times;</span>
    <h3 class="edit-modal-title">Edit Company</h3>
    <form (ngSubmit)="saveCompanyEdits()">
      <div class="form-group">
        <label for="editName">Name:</label>
        <input id="editName" [(ngModel)]="selectedCompany.name" name="name" class="form-input" />
      </div>

      <div class="form-group">
        <label for="editAddress">Address:</label>
        <input id="editAddress" [(ngModel)]="selectedCompany.address" name="address" class="form-input" />
      </div>

      <div class="form-group">
        <label for="editPhone">Phone:</label>
        <input id="editPhone" [(ngModel)]="selectedCompany.phoneNumber" name="phone" class="form-input" />
      </div>

      <div class="form-group">
        <label for="editEmail">Email:</label>
        <input id="editEmail" [(ngModel)]="selectedCompany.email" name="email" class="form-input" />
      </div>

      <div class="form-group">
        <label for="editWebsite">Website:</label>
        <input id="editWebsite" [(ngModel)]="selectedCompany.website" name="website" class="form-input" />
      </div>

      <div class="form-group">
        <label for="editIndustry">Industry:</label>
        <input id="editIndustry" [(ngModel)]="selectedCompany.industry" name="industry" class="form-input" />
      </div>

      <div class="form-group">
        <label for="editEmployeeCount">Employee Count:</label>
        <input id="editEmployeeCount" [(ngModel)]="selectedCompany.employeeCount" name="employeeCount" class="form-input" />
      </div>

      <button type="submit" class="edit-save-button">Save Changes</button>
    </form>
  </div>
</div>
