<div class="container">
  <router-outlet></router-outlet>

  <main *ngIf="welcomeVisible" class="welcome-container">
    <h1>Welcome to Our App!</h1>
    <p>This is a short description or introduction of the app.</p>
    <button (click)="getAuth()">Go to Login</button>
  </main>

  <div *ngIf="!welcomeVisible" class="content">
    <div class="section">
      <button (click)="addCompany()">Add Company</button>
      <button (click)="getCompanies()">Get Companies</button>

      <div class="list">
        <h2>Company List</h2>
        <ul>
          <li *ngFor="let company of companies">
            ID: {{ company.id }} - Name: {{ company.name }} - Address: {{ company.address }}
          </li>
        </ul>
      </div>
    </div>

    <div class="section">
      <button (click)="addEmployee()">Add Employee</button>
      <button (click)="getEmployees()">Get Employees</button>

      <div class="list">
        <h2>Employee List</h2>
        <ul>
          <li *ngFor="let employee of employees">
            ID: {{ employee.id }} - Name: {{ employee.name }} - Company: {{ employee.company_id }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
