/* Genel ayarlar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0c3867;
  font-family: Arial, sans-serif;
}

/* Ana konteyner */
.container {
  /* width: 80%;  Tüm genişlikten %80 oranında olacak */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; /* Tüm genişlik */
  /*height: 100vh;*/
  max-width: 100%; /* Maksimum genişlik */
  margin: 0 auto; /* Sağdan ve soldan otomatik boşluk */
  /* padding: 20px; */
  background-color: #0c3867;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center; /* İçeriği ortalama */
}

/* Welcome kısmı */
.welcome-container {
  padding: 20px;
  /*border: 1px solid white;*/
  display: flex;
  /* background-image: url('assets/clock-tower.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-container h1 {
  color: #3496ff;
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome-container p {
  font-size: 16px;
  color: #3496ff;
  margin-bottom: 20px;
}

/* Butonlar */
button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px 0; /* Butonlar arasında boşluk */
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  box-shadow: 0px 2px 4px rgba(0, 123, 255, 0.3);
}


/* Content (Companies ve Employees bölümü) */
.content {
  height: 100vh;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .action-button {
    margin: 0 10px;
  }
}

.section {
  margin-bottom: 20px;
}

/* Listeleme alanı */
.list {
  margin-top: 10px;
}

.list h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.list ul {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Liste elemanlarını sola hizala */
}

.list li {
  padding: 8px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.list li:last-child {
  border-bottom: none;
}

/* Company Bölümü */
.company-section {
  margin-top: 20px;
  text-align: left;
}

.company-header {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  background-color: #8ecce7;
  color: #000000;
  border-radius: 5px;
  border: 1px solid black;
}

.employee-list {
  margin-left: 20px;
  padding: 10px;
  background-color: #5c9dc1;
  border-radius: 5px;
}

.employee-list ul {
  list-style-type: none;
  padding: 0;
}

.employee-list li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.employee-list li:last-child {
  border-bottom: none;
}
